NEXT_PUBLIC_SITE_URL=http://localhost:3000
SITE_URL=http://localhost:3000
GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_GA_ID=
BREVO_API_KEY=
BREVO_LIST_ID=
MAILCHIMP_API_KEY=
MAILCHIMP_AUDIENCE_ID=
MAILCHIMP_SERVER_PREFIX=
VERCEL_TOKEN=
VERCEL_ORG_ID=
VERCEL_PROJECT_ID=
